@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, sans-serif;
}

body {
    background-color:#f8f1f5;
}

header > h1 {
    text-align: center;
} 

 .choices {
    text-align: center;
    margin: 50px 0;
}

.choice {
    display: inline-block;
} 